body {
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-style: normal;
    padding: 20px;
    background: linear-gradient(135deg, var(--main-bg-red) 0%, var(--main-bg-gold) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    min-height: 100vh;
    margin: 0;
    color: var(--main-text-black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
    line-height: 1.25;
}

p {
    font-weight: 400;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all .2s linear;
}

div#app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background: var(--main-bg-color);
    margin: 0 auto;
    box-shadow: 0 0 50px 1px rgba(0, 0, 0, 0.90);
}

.container {
    margin: 0 auto;
    max-width: 64rem;
    height: 100%;
}

header {
    position: relative;
    background: var(--main-bg-gray);
    height: auto;
}

header nav {
    display: table;
}

header nav div {
    display: table-cell;
    vertical-align: middle;
}

@media screen and (max-width: 60em) {
    header nav {
        display: block;
        width: 100%;
    }
    header nav div {
        width: 100%;
        margin: 1rem auto;
        display: block;
        text-align: center !important;
    }
}

nav a.logo {
    font-family: 'Playfair Display', serif;
    background: var(--main-bg-color);
}

nav a.logo:hover {
    color: var(--main-bg-red);
}

nav a.link {
    color: var(--main-bg-color);
    text-transform: capitalize;
    font-size: 1rem;
}

nav a.link:hover,
nav a.link.active {
    color: var(--main-bg-red);
}

nav a.cta {
    font-family: "Roboto", helvetica, arial, sans-serif;
    background: var(--main-bg-red);
    padding: 0.5rem 1rem;
    display: inline-block;
    color: var(--main-bg-color);
    text-transform: uppercase;
    letter-spacing: .1em;
    border-radius: .5em;
}

nav a.cta:hover,
nav a.cta.active {
    background: var(--main-bg-gold);
}

nav .profile-image {
    border-radius: 50%;
    width: 2rem;
    vertical-align: middle;
    border: 2px solid var(--main-bg-color);
}

.content {
    height: auto;
    min-height: calc(100vh - 165px);
    color: var(--main-bg-color);
}

.content-alternate {
    height: auto;
    min-height: calc(100vh - 165px);
}

a.cta-alternate {
    font-family: "Roboto", helvetica, arial, sans-serif;
    background: var(--main-bg-gold);
    padding: 0.5rem 1rem;
    letter-spacing: .1em;
    border-radius: .5em;
    text-transform: uppercase;
}

a.cta-alternate:hover {
    background: var(--main-bg-red);
}

.content-holder {
    display: flex;
    flex-direction: row;
    height: auto;
    min-height: calc(100vh - 159px);
}

.content-holder>div {
    width: 50%;
    height: auto;
}

.content-holder div.image-holder {
    background: #000;
}

.content-holder div.image-holder img {
    object-fit: cover;
    object-position: 80% 80%;
    height: 100%;
}

.content-holder div.details {
    background: #fefefe;
}

@media screen and (max-width: 60em) {
    .content-holder {
        display: flex;
        flex-direction: column;
        height: auto;
        min-height: calc(100vh - 159px);
    }
    .content-holder>div {
        width: 100%;
        height: auto;
        display: block;
    }
}

.menu-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.combo {
    width: 44%;
    height: auto;
    background: var(--main-bg-color);
    margin-bottom: 2rem;
    border: 1px solid #000;
}

.combo h4,
.combo h5 {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 60em) {
    .menu-holder {
        display: flex;
        flex-direction: column;
    }
    .combo {
        width: 100%;
        height: auto;
        margin-bottom: 2rem;
    }
}

.admin-task {
    display: block;
    margin: 0.2rem auto;
    text-align: center;
    color: whitesmoke;
}

.admin-task:nth-child(1) {
    background-color: green;
}

.admin-task:nth-child(2) {
    background-color: red;
}

.admin-task:nth-child(3) {
    background-color: blue;
}

footer {
    background: var(--main-bg-gray);
    height: auto;
}

footer p {
    font-size: small;
}

.bg-home {
    background-image: linear-gradient(rgba(35, 35, 35, 0.8), rgba(35, 35, 35, 0.8)), url('../images/bg-home.jpg');
    background-size: cover;
    background-position: top center;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-alternate {
    background: var(--main-bg-color);
    border-top: .4rem solid var(--main-bg-red);
}