/* Font Embeds */

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/playfair/subset-PlayfairDisplay-BlackItalic.woff2') format('woff2'), url('../fonts/playfair/subset-PlayfairDisplay-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/subset-Roboto-Black.woff2') format('woff2'), url('../fonts/roboto/subset-Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/subset-Roboto-BlackItalic.woff2') format('woff2'), url('subset-Roboto-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/subset-Roboto-Italic.woff2') format('woff2'), url('../fonts/roboto/subset-Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/subset-Roboto-Regular.woff2') format('woff2'), url('../fonts/roboto/subset-Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}